<h1 class="display-6">Lista de Produtos</h1>
<hr>
<a class="btn btn-dark" routerLink="/products/create">Novo</a>
<table class="table table-light table-striped table-bordered mt-3 p-0">
  <thead>
    <tr scope="row">
      <th scope="col ">Nome</th>
      <th scope="col col-md-3">Código de Barras</th>
      <th scope="col col-md-2">Preço</th>
      <th scope="col col-md-1">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products" scope="row">
      <th scope="col">{{ product.nome }}</th>
      <td scope="col">{{ product.codigoBarras }}</td>
      <td scope="col">{{ product.preco | currency: 'BRL' }}</td>
      <td scope="col">
        <div scope="row">
        <div scope="col ">
          <app-icon icon="edit_note" [routerLink]="['/products/edit/', product.id]" title="Editar produto"></app-icon>
        </div>
        <div scope="col ">
          <app-icon icon="delete_outline" (click)="delete(product.id)" title="Excluir cadastro"></app-icon>
        </div>
      </div>

      </td>
    </tr>
  </tbody>
</table>
